<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JiawenClock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A0F2B331D66D4CE007C9B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0F2B4F1D66D4CF007C9B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0F2B5A1D66D4CF007C9B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
